@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: var(--first-color);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: fit-content;
}

.avatar {
  border-radius: 50%;
  /* max-width: 100%; */ /* Makes the image responsive */
  max-width: 200px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--third-color);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--third-color);
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--fourth-color);
  line-height: 1.5;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --first-color: #222831;
  --second-color: #393e46;
  --third-color: #f96d00;
  --fourth-color: #f2f2f2;
  --fifth-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-column section {
  background-color: var(--second-color);
  color: var(--fourth-color);
}

.left-column section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.left-column {
  grid-column: 1 / 2;
  padding: 20px;
  background-color: var(--first-color);
  color: var(--fourth-color);
  text-align: center;
}

.right-column {
  grid-column: 2 / 3;
  padding: 20px;
  background-color: var(--first-color);
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--second-color);
  color: var(--fourth-color);
  border-radius: 10px;
}

section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

section p {
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  color: var(--third-color);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
  text-decoration: underline;
}

a:visited {
  color: var(--first-color);
}

a:active {
  color: var(--fourth-color);
}

a:focus {
  box-shadow: 0 0 0 2px var(--third-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.skill {
  padding: 10px;
  background-color: var(--second-color);
  border-radius: 10px;
  text-align: center;
}

.education-item, .experience-item, .volunteer-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--first-color);
}

.mobile-basics {
  text-align: center;
}

.mobile-section {
  margin: 1em;
}