@media print {

    @page { margin: 5mm 0 0; }

    .print-container {
        margin: 0 5% 5%;
    }

    .print-container,
    .print-container *,
    .print-container *::before,
    .print-container *::after {
        background-color: #fff !important;
        background-image: none !important;
        color: rgba(0, 0, 0, 0.87) !important;
        opacity: 1 !important;
        transform: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }

    .basics-print-style {
        margin-left: 9%;
        margin-right: 9%;
    }

    .basics-print-style * {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .print-style * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border: none !important;
    }

    .print-style .MuiBox-root {
        padding: 0 !important;
    }

    .print-style-last {
        break-before: page;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .responsive-card {
        display: flex !important;
        width: 100% !important;
        align-items: flex-start !important;
        flex-direction: row !important;
        justify-content: left !important;
        text-align: left !important;
    }

    .link-print-style {
        display: flex !important;
        align-items: center !important;
    }

    .link-print-style * {
        fill: rgba(0, 0, 0, 0.87) !important;
    }

    .profile-username-print-style {
        display: block !important;
    }

    .no-display-on-print {
        display: none !important;
    }

    .display-block-on-print {
        display: block !important;
    }
}
