@media print {

    .print-container {
        margin: 2% 5% 5%;
    }

    .basics-print-style {
        margin-left: 9%;
        margin-right: 9%;
    }

    .basics-print-style * {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: #fff !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }

    .print-style * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border: none !important;
        background-color: #fff !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }

    .print-style .MuiBox-root {
        padding: 0 !important;
    }

    .print-style-last {
        margin-top: 14.5%;
    }

    .responsive-card {
        display: flex !important;
        width: 100% !important;
        align-items: flex-start !important;
        flex-direction: row !important;
        justify-content: left !important;
        text-align: left !important;
    }

    .link-print-style {
        display: flex !important;
        align-items: center !important;
    }

    .link-print-style * {
        fill: rgba(0, 0, 0, 0.87) !important;
    }

    .profile-username-print-style {
        display: block !important;
    }

    .no-display-on-print {
        display: none !important;
    }

    .display-block-on-print {
        display: block !important;
    }
}
